<?xml version="1.0"?>
<Foundry>
<VM>
<VMId type="string">52 57 ea b2 e8 d1 59 07-13 f5 01 f6 32 c3 09 97</VMId>
<ClientMetaData>
<clientMetaDataAttributes/>
<HistoryEventList/></ClientMetaData>
<vmxPathName type="string">ClearLinux-VERSION.vmx</vmxPathName></VM></Foundry>
