.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "14"
pciBridge0.present = "TRUE"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge4.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
vmci0.present = "TRUE"
hpet0.present = "TRUE"
usb.vbluetooth.startConnected = "FALSE"
firmware = "efi"
displayName = "ClearLinux-VERSION"
guestOS = "other4xlinux-64"
nvram = "ClearLinux-VERSION.nvram"
virtualHW.productCompatibility = "hosted"
powerType.powerOff = "soft"
powerType.powerOn = "soft"
powerType.suspend = "soft"
powerType.reset = "soft"
tools.syncTime = "TRUE"
tools.upgrade.policy = "upgradeAtPowerCycle"
sound.autoDetect = "TRUE"
sound.fileName = "-1"
vcpu.hotadd = "TRUE"
memsize = "768"
mem.hotadd = "TRUE"
scsi0.virtualDev = "lsilogic"
scsi0.present = "FALSE"
scsi0:0.fileName = "clear-VERSION-vmware.vmdk"
scsi0:0.present = "FALSE"
sata0.present = "TRUE"
sata0:0.fileName = "clear-VERSION-vmware.vmdk"
sata0:0.present = "TRUE"
sata0:0.redo = ""
sata0.pciSlotNumber = "34"
ide1:0.autodetect = "TRUE"
ide1:0.deviceType = "cdrom-raw"
ide1:0.fileName = "auto detect"
ide1:0.startConnected = "FALSE"
ethernet0.connectionType = "nat"
ethernet0.addressType = "generated"
ethernet0.virtualDev = "e1000"
ethernet0.linkStatePropagation.enable = "TRUE"
serial0.fileType = "thinprint"
serial0.fileName = "thinprint"
ethernet0.present = "TRUE"
extendedConfigFile = "ClearLinux-VERSION.vmxf"
ehci:0.parent = "-1"
ehci:0.port = "0"
ehci:0.deviceType = "video"
keyboardAndMouseProfile = "52d5be92-1185-df18-6ac3-f4e3bf9056b7"
bios.bootOrder = "HDD"
bios.hddOrder = "sata0:0"
floppy0.present = "FALSE"
