UseDNS no
PubkeyAuthentication yes
PermitEmptyPasswords no
PasswordAuthentication no
PermitRootLogin no
AuthorizedKeysFile %h/.ssh/authorized_keys
# needed for openssh 8.8+
PubkeyAcceptedKeyTypes=+ssh-rsa

# 120s/60m
ClientAliveInterval 120
ClientAliveCountMax 30

# XXX: workaround for https://github.com/hashicorp/vagrant/issues/10730
# drop when fixed
IPQoS lowdelay throughput

# enabling as it is handy to validate some use cases on the field
Subsystem sftp /usr/libexec/sftp-server
